@import './_mixins.scss';
* {
	outline: none;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-y: scroll;
	font-family: $body-font;
	font-size: $normal-font-size;
	background-color: $bgcol;
	color: $color_text;
	height: 100%;
	@media screen and (max-width: 380px) {
	}
	@media screen and (max-width: 768px) {
		// margin: 0 0 $header-height 0;
	}
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
	height: 100%;
}

button,
input,
textarea {
	font-family: $body-font;
	font-size: $normal-font-size;
}

h1,
h2,
h3 {
	color: $color_title;
	font-weight: $font-semi-bold;
	font-family: $font-title;
}

.bgc {
	background-color: $bgnavcol;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a {
	&:hover {
		text-decoration: none;
	}
}
